---
#File used for site styling only and should not be included in the exported design system
---

/* Add any scss classes you wish to extend */
@import "design_system/utils/borders";
@import "design_system/utils/spacing";
@import "syntax.css";

body {
  background-color: var(--s-color-white);
  font-family:  var(--s-font-family-default);
  font-weight: var(--s-font-weight-normal);
  color: var(--s-color-gray-700);
  overflow: hidden;
}

figure {
  margin: 0;
}

/* ----------------------------------------- */
/* ----- Grid Layout ----- */
/* ----------------------------------------- */

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
}

.header-container {
  grid-area: header;
}

.main-nav {
  grid-area: sidebar;
}

.main {
  grid-area: content;
}

.footer-container {
  grid-area: footer;
}

/* ----------------------------------------- */
/* ----- Navigation ----- */
/* ----------------------------------------- */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 265px;
  font-family: var(--s-font-family-default);
  font-weight: var(--s-font-weight-bold);
  background-color: var(--s-color-gray-100);
  text-transform: uppercase;
  overflow-y: scroll;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.main-nav ul li {
  width: 100%;
}

.main-nav-item a,
.sub-nav-item a {
  display: block;
  padding: var(--s-space-5) var(--s-space-9) var(--s-space-4);
  text-decoration: none;
  color: inherit;
}

.sub-nav-item a {
  padding: var(--s-space-3) var(--s-space-11) var(--s-space-2);
  font-weight: var(--s-font-weight-normal);
  text-transform: none;
}

.main-nav ul li a:hover {
  background-color: var(--s-color-gray-200);
}

.main-nav ul .main-nav-item a.active {
  background-color: var(--s-color-cyan-700);
  color: var(--s-color-white);
}

/* ----------------------------------------- */
/* ----- Main Page ----- */
/* ----------------------------------------- */
.main {
  overflow-y: scroll;
  padding: var(--s-space-13);
  padding-top: 0;
}

.main-page-title {
  font-size: 2rem;
}

.main-content-container {
  margin-top: var(--s-space-5);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.spaced-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--s-color-gray-200);
  margin-bottom: var(--s-space-11);
}

.table-head-row {
  font-size: 1rem;
  border: 1px solid var(--s-color-gray-200);
  background-color: var(--s-color-gray-100);
  th {
    padding: 1rem;
    text-align: left;
  }
  td {
    padding: 1rem;
  }
}

.table-row {
  border: 1px solid var(--s-color-gray-200);
}

.table-row:nth-child(even) {
  background-color: var(--s-color-gray-100);
}

.table-row:nth-child(odd) {
  pre, code {
    background-color: var(--s-color-white);
  }
}

.dark-cell {
  background-color: var(--s-color-gray-800);
  border-bottom: 1px solid var(--s-color-gray-200);
}

// TOKEN Specific Tables
.token-title-cell {
  width: auto;
  padding: var(--s-space-5);
  overflow-wrap: break-word;
  border-right: 1px solid var(--s-color-gray-200);

  pre {
    margin-bottom: 0;
  }
}

.token-description-cell {
  margin-top: var(--s-space-3);
}

.token-value-cell {
  width: 30%;
  padding: var(--s-space-5);
  border-right: 1px solid var(--s-color-gray-200);
}

.token-example-cell {
  width: 20%;
  height: 4rem;
}

.token-example-cell div {
  width: 100%;
  height: 100%;
}

// UTIL Specific Tables
.utils-table {
  .table-row td {
    @extend .s-p-3;
  }

  .util-class-cell {
    width: 20%;
    border-right: 1px solid var(--s-color-gray-200);
  }

  .util-value-cell {
    border-right: 1px solid var(--s-color-gray-200);

    pre {
      @extend .s-m-0;
      @extend .s-p-0;
    }
  }

  .util-example-cell {
  }
}

// ELEMENT Specific Tables
.element-class-cell {
  width: 20%;
  border-right: 1px solid var(--s-color-gray-200);
}

.element-code-cell {
  padding: 0.5rem 1rem;
  width: 45%;
  max-width: 500px;
  border-right: 1px solid var(--s-color-gray-200);

  pre {
    margin-bottom: 0;
    white-space: pre-wrap;
  }
}

.element-sample-cell {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 35%;
  max-width: 325px;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

//ASSETS

.image-sample-cell {
  width: 92px;
  text-align: center;
  padding: 0.5rem;
}

.preview-image {
  max-width: 92px;
  max-height: 92px;
}

.preview-icon {
  max-width: 32px;
  max-height: 32px;
}

.file-cell {
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--s-color-gray-200);
}

/* ----------------------------------------- */
/* ----- Utils Tables ----- */
/* ----------------------------------------- */
:root {
  --stripe-color: var(--s-color-yellow-500);
}
.stripes {
  background-image: linear-gradient(45deg,var(--stripe-color) 12.5%,transparent 12.5%,transparent 50%,var(--stripe-color) 50%,var(--stripe-color) 62.5%,transparent 62.5%,transparent 100%);
  background-size: 5px 5px;
}

.utils-table-borders [class*="s-border"] {
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--s-color-gray-300);
  margin: var(--s-space-5) auto;
}

.utils-table-borders .s-border-radius-pill {
  width: 10rem;
}

.utils-table-margins {
  .example-container {
    @extend .stripes;
    display: table-cell;
  }

  [class*="s-m"] {
    @extend .s-border;
    code {
      @extend .s-p-1;
      display: block;
      background-color: var(--s-color-white);
    }
  }
}

.utils-table-padding {
  [class*="s-p"] {
    @extend .stripes;
    @extend .s-border;

    code {
      @extend .s-p-1;
      display: block;
      background-color: var(--s-color-white);
    }
  }
}

.utils-table-colors {
  [class*="s-text"] {
    @extend .s-pt-3;
    @extend .s-pl-3;
  }

  [class*="s-bg"] {
    height: 30px;
  }

  [class*="s-border"] {
    @extend .s-border-width-2;
    border-style: solid;
    height: 35px;
    width: 100%;
  }
}