---
#File used for site styling only and should not be included in the exported design system
---

/* Add any scss classes you wish to extend */
@import "design_system/utils/borders";

body {
  background-color: var(--s-color-white);
  font-family:  var(--s-font-family-default);
  font-weight: var(--s-font-weight-normal);
  color: var(--s-color-gray-700);
  overflow: hidden;
}

/* ----------------------------------------- */
/* ----- Grid Layout ----- */
/* ----------------------------------------- */

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
}

.header-container {
  grid-area: header;
}

.main-nav {
  grid-area: sidebar;
}

.main {
  grid-area: content;
}

.footer-container {
  grid-area: footer;
}

/* ----------------------------------------- */
/* ----- Header ----- */
/* ----------------------------------------- */
.header-container {
  background-color: var(--s-color-white);
  box-shadow: 0 0 3px var(--s-color-gray-300);
  color: var(--s-color-gray-800);
  display: flex;
  justify-content: space-between;
}

.logo-title-wrapper {
  display: flex;
  align-items: center;
  padding: var(--s-space-4) var(--s-space-32);
}

.logo {
  width: var(--s-space-56);
  height: var(--s-space-56);
  margin-right: var(--s-space-16);
}

.title {
  font-size: var(--s-space-24);
}

.search-wrapper {
  align-self: center;
  padding: var(--s-space-4) var(--s-space-32);
  display: flex;
}

.search-wrapper input,
.search-wrapper button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--s-color-gray-300);
  background-color: var(--extra-light);
}

.search-wrapper input {
  border-radius: 0.125rem 0 0 0.125rem;
}

.search-wrapper button {
  border-radius: 0 0.125rem 0.125rem 0;
  background-color: var(--s-color-gray-300);
  cursor: pointer;
}

.search-wrapper input:focus,
.search-wrapper button:focus {
  outline: none !important;
  border: 1px solid var(--s-color-cyan-400);
}

.search-icon {
  width: 1rem;
  height: 1rem;
}

/* ----------------------------------------- */
/* ----- Navigation ----- */
/* ----------------------------------------- */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 300px;
  font-family: var(--s-font-family-default);
  font-weight: var(--s-font-weight-bold);
  background-color: var(--s-color-gray-100);
  text-transform: uppercase;
  overflow-y: scroll;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.main-nav ul li {
  width: 100%;
}

.main-nav ul li a {
  display: block;
  padding: var(--s-space-16) var(--s-space-32);
  text-decoration: none;
  color: inherit;
}

.main-nav ul li a:hover {
  background-color: var(--s-color-cyan-400);
}

.main-nav ul li a.active {
  background-color: var(--s-color-cyan-700);
  color: var(--s-color-white);
}

/* ----------------------------------------- */
/* ----- Main Page ----- */
/* ----------------------------------------- */
.main {
  overflow-y: scroll;
  padding: var(--s-space-64);
  padding-top: 0;
}

.main-page-title {
  font-size: 2rem;
}

.main-content-container {
  margin-top: var(--s-space-16);
}

.token-table {
  width: 100%;
  border-collapse: collapse;
}

.token-table-row:nth-child(even) {
  background-color: var(--s-color-gray-100);
  margin: 100px;
}

.token-table-row {
  border: 1px solid var(--s-color-gray-200);
}

code, xmp {
  @extend .s-border-radius-1;
  background-color: var(--s-color-gray-200);
  padding: var(--s-space-4);
}

xmp {
  padding-bottom: 1rem;
  font-size: 14px;
}

.token-title-description-cell {
  width: auto;
  padding: var(--s-space-16);
  overflow-wrap: break-word;
}

.token-description {
  margin-top: var(--s-space-8);
}

.token-value-cell {
  width: 20%;
  padding: var(--s-space-16);
}

.token-example-cell {
  border: 1px solid var(--s-color-gray-200);
  width: 20%;
  height: 4rem;
}

.token-example-cell div {
  width: 100%;
  height: 100%;
}

.spaced-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--s-color-gray-200);
}

.table-head-row {
  font-size: 1rem;
  border: 1px solid var(--s-color-gray-200);
  background-color: var(--s-color-gray-100);
  td {
    padding: 1rem;
  }
}
.element-sample-cell {
  text-align: center;
  padding-left: 1rem;
  width: 30%;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.element-code-cell {
  padding: 0.5rem 1rem;

  .element-classname {
    display: flex;
    p {
      margin: 0;
      padding-top: 0.5rem;
    }
  }
}

/* ----------------------------------------- */
/* ----- Footer ----- */
/* ----------------------------------------- */
.footer-copyright-wrapper {
  display: flex;
  background-color: var(--s-color-gray-800);
}

.footer-copyright-wrapper p {
  margin: auto;
  padding: 1rem 0;
  color: var(--s-color-gray-400);
}

/* ----------------------------------------- */
/* ----- Borders ----- */
/* ----------------------------------------- */
.token-table-borders [class*="s-border"] {
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--s-color-gray-300);
  margin: var(--s-space-16) auto;
}

.token-table-borders .s-border-radius-pill {
  width: 10rem;
}
