---
title: Borders
layout: default
permalink: /borders/
---

<table class="token-table token-table-borders">
  {% for token in site.tokens %}
    {% if token.title contains "s-border" %}
    <tr class="token-table-row">
      <td class="token-title-description-cell">
        .{{ token.title }}
      </td>
      <td>
        <code class="language-html" data-lang="html">
          {{token | remove: '<p>' | remove: '</p>' | escape}}
        </code>
      </td>
      <td class="token-example-cell">
        {{ token }}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>