* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--s-color-white);
    font-family: Helvetica Neue Normal;
    color: var(--s-color-gray-700);
  }

  /* ----------------------------------------- */
  /* ----- Header ----- */
  /* ----------------------------------------- */
  .header-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: var(--s-color-gray-800);
    background-color: var(--s-color-gray-50);
    box-shadow: 0 0 3px var(--s-color-gray-300);
  }

  .logo-title-wrapper {
    display: flex;
    align-items: center;
    padding: var(--s-space-4) var(--s-space-32);
  }

  .logo {
    width: var(--s-space-56);
    height: var(--s-space-56);
    margin-right: var(--s-space-16);
  }

  .title {
    font-size: var(--s-space-24);
  }

  .search-wrapper {
    align-self: center;
    padding: var(--s-space-4) var(--s-space-32);
    display: flex;
  }

  .search-wrapper input,
  .search-wrapper button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--s-color-gray-300);
    background-color: var(--extra-light);
  }

  .search-wrapper input {
    border-radius: 0.125rem 0 0 0.125rem;
  }

  .search-wrapper button {
    border-radius: 0 0.125rem 0.125rem 0;
    background-color: var(--s-color-gray-300);
    cursor: pointer;
  }

  .search-wrapper input:focus,
  .search-wrapper button:focus {
    outline: none !important;
    border: 1px solid var(--s-color-cyan-400);
  }

  .search-icon {
    width: 1rem;
    height: 1rem;
  }

  /* ----------------------------------------- */
  /* ----- Navigation ----- */
  /* ----------------------------------------- */
  .nav-content-container {
    display: flex;
    padding-top: 10vh;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--s-space-32) 0;
    width: 20%;
    min-width: 300px;
    font-family: "Helvetica Neue Bold";
    background-color: var(--s-color-gray-100);
    height: 90vh;
    overflow-y: auto;
    text-transform: uppercase;
  }

  .main-nav ul {
    list-style: none;
    width: 100%;
  }

  .main-nav ul li {
    width: 100%;
  }

  .main-nav ul li a {
    display: block;
    padding: var(--s-space-16) var(--s-space-32);
    text-decoration: none;
    color: inherit;
    border-radius: var(--s-border-radius-2);
  }

  .main-nav ul li a:hover {
    background-color: var(--s-color-cyan-400);
  }

  .active {
    background-color: var(--s-color-cyan-500);
  }

  /* ----------------------------------------- */
  /* ----- Main Page ----- */
  /* ----------------------------------------- */
  .main-footer-container {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
  }

  .main-container {
    padding: var(--s-space-64);
    min-height: 50vh;
  }

  .main-page-title {
    font-size: 2rem;
  }

  .main-content-container {
    margin-top: var(--s-space-16);
  }

  .token-table {
    width: 100%;
    border-collapse: collapse;
  }

  .token-table-row:nth-child(even) {
    background-color: var(--s-color-gray-100);
    margin: 100px;
  }

  .token-table-row {
    border: 1px solid var(--s-color-gray-200);
  }

  code {
    background-color: var(--s-color-gray-200);
    padding: var(--s-space-4);
    border-radius: var(--s-border-radius-2);
  }

  .token-title-description-cell {
    width: auto;
    padding: var(--s-space-16);
    overflow-wrap: break-word;
  }

  .token-description {
    margin-top: var(--s-space-8);
  }

  .token-value-cell {
    width: 20%;
    padding: var(--s-space-16);
  }

  .token-example-cell {
    border: 1px solid var(--s-color-gray-200);
    width: 20%;
    height: 4rem;
  }

  .token-example-cell div {
    width: 100%;
    height: 100%;
  }

  /* ----------------------------------------- */
  /* ----- Footer ----- */
  /* ----------------------------------------- */
  .footer-contact-wrapper {
    min-height: 30vh;
    display: flex;
    background-color: var(--s-color-gray-200);
  }

  .footer-copyright-wrapper {
    min-height: 10vh;
    display: flex;
    background-color: var(--s-color-gray-800);
  }

  .footer-copyright-wrapper p {
    margin: auto;
    color: var(--s-color-gray-600);
  }

  /* ----------------------------------------- */
  /* ----- Borders ----- */
  /* ----------------------------------------- */
  .token-table-borders [class*="s-border"] {
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: var(--s-color-gray-300);
    margin: var(--s-space-16) auto;
  }

  .token-table-borders .s-border-radius-pill {
    width: 10rem;
  }