---
title: Elements
layout: default
permalink: /elements/
subnav:
  buttons-links: Buttons & Links
  paragraphs: Paragraph Text
---

<h2 id="buttons-links" class="s-h2">Buttons & Links</h2>
<p>Many of our sites have links that appear to be buttons. This is acceptable from a design standpoint, but it is important that the HTML correctly communicates the intent of the element to the browser. Start by understanding the important difference between a button and a link:</p>
<ul>
  <li><strong>Buttons</strong> should lead to actions such as "download", "sign up" or "log out"</li>
  <li><strong>Links</strong> should allow a user to navigate to a new page or a different taget on the same page</li>
</ul>
<p>Why this matters: For users of screen-readers and power users, a space key and enter key both trigger a button, where pressing the enter key is the only way to trigger a link.</p>

<h3 class="s-h3">Button Examples</h3>
<p>In the following examples, the elements <em>do</em> lead to action, so need to be interpreted by the browser as buttons. There are several of ways to achieve this depending on the use case and needs; three examples are noted below. In order to focus on the elements and attributes, Savile styling classes have not been added to these examples.</p>

<p>Use a button element:</p>
{% highlight html %}
<button>Log In</button>
{% endhighlight %}

<p>Use an input element with a type attribute:</p>
{% highlight html %}
<input type="button" value="Submit">
{% endhighlight %}

<p>Use any non-button element with a <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role" target="blank">role attribute</a> (acknowleging that inline and block elements may behave differently):</p>
{% highlight html %}
<div role="button">Subscribe</div>
{% endhighlight %}

{% highlight html %}
<span role="button">Download Report</span>
{% endhighlight %}

<h3 class="s-h3">Link Examples</h3>
<p>In the following examples, the button-look-alike is actually an anchor tag. This is the correct tag to use because the purpose of the element is to allow the user to navigate to a new page.</p>
{% highlight html %}
<a href="https://apply.turing.edu" class="[add class(es) to make this appear as a button]">
  <span>Apply Now</span>
</a>
{% endhighlight %}

{% highlight html %}
<a href="/programs" class="[add class(es) to make this appear as a button]">More Info</a>
{% endhighlight %}

<h3 class="s-h3">Savile Buttons</h3>
<p>Although many elements that appear as buttons, but are not technically buttons, will live in our software suite, Savile still refers to the element as "button" and uses such in the class names.</p>
<table class="spaced-table">
  <thead>
    <tr class="table-head-row">
      <th>Class Name</th>
      <th>HTML</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    {% assign buttons = site.data.elements | where: "element_type", "button" %}
    {% for button in buttons %}
    <tr class="table-row">
      <td class="element-class-cell">{% highlight html %}{{ button.value }}{% endhighlight %}</td>
      <td class="element-code-cell">{% highlight html %}{{ button.example | remove: '<p>' | remove: '</p>' }}{% endhighlight %}
      </td>
      <td class="element-sample-cell">{{ button.example }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3 class="s-h3">Savile Links</h3>
<table class="spaced-table">
  <thead>
    <tr class="table-head-row">
      <th>Class Name</th>
      <th>HTML</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    {% assign links = site.data.elements | where: "element_type", "link" %}
    {% for link in links %}
    <tr class="table-row">
      <td class="element-class-cell">{% highlight html %}{{ link.value }}{% endhighlight %}</td>
      <td class="element-code-cell">{% highlight html %}{{ link.example | remove: '<p>' | remove: '</p>' }}{% endhighlight %}
      </td>
      <td class="element-sample-cell">{{ link.example }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2 id="paragraphs" class="s-h2">Paragraphs</h2>
<table class="spaced-table">
  <thead>
    <tr class="table-head-row">
      <th>Class Name</th>
      <th>HTML</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    {% assign texts = site.data.elements | where: "element_type", "text" %}
    {% assign light_texts = texts | where: "light_text", "true" %}
    {% assign dark_texts = texts | where: "light_text", nil %}

    {% for text in dark_texts %}
    <tr class="table-row">
      <td class="element-class-cell">{% highlight html %}{{ text.value }}{% endhighlight %}</td>
      <td class="element-code-cell">{% highlight html %}{{ text.example }}{% endhighlight %}</td>
      <td class="element-sample-cell">{{ text.example }}</td>
    </tr>
    {% endfor %}

    {% for text in light_texts %}
    <tr class="table-row">
      <td class="element-class-cell">{% highlight html %}{{ text.value }}{% endhighlight %}</td>
      <td class="element-code-cell">{% highlight html %}{{ text.example }}{% endhighlight %}</td>
      <td class="element-sample-cell dark-cell">{{ text.example }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
