---
title: Tokens
layout: default
permalink: /tokens/
subnav:
  font-size: Font Size
  shadows: Shadows
  spacing: Spacing
  font-weight: Font Weight
  font-family: Font Family
---

{% assign grouped_tokens = site.tokens | group_by: "token_type" %}

{% for token_group in grouped_tokens %}
  <h2 id="{{token_group.name}}">{{ token_group.name | capitalize }}</h2>

  <table class="table">
    <thead>
      <tr class="table-head-row">
        <th>Class Name</th>
        <th>Value</th>
      </tr>
    </thead>
    {% for token in token_group.items %}
    <tr class="table-row">
      <td class="token-title-cell">{% highlight html %}{{ token.title }}{% endhighlight %}</td>
      <td class="token-value-cell">{{ token.value }}</td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}
