---
title: Utilities
layout: default
permalink: /utils/
---

<h2>Borders</h2>

{% assign border_utils = site.utils | where: "util_type", "border" %}
{% assign border_groups = "sides, width, radius" | split: ", " %}

{% for border_group in border_groups %}
  <h3>{{ border_group | capitalize}}</h3>
  {% assign utils = border_utils | where: "border_group", border_group %}
  <table class="token-table token-table-borders">
    {% for util in utils %}
      <tr class="token-table-row">
        <td class="token-title-description-cell">
          .{{ util.title }}
        </td>
        <td>
          <code class="language-html" data-lang="html">
            {{util | remove: '<p>' | remove: '</p>' | escape}}
          </code>
        </td>
        <td class="token-example-cell">
          {{ util }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}

<!-- Other utility classes here -->
