---
title: Utilities
layout: default
permalink: /utils/
---

<h2>Borders</h2>
{% assign border_utils = site.utils | where: "util_type", "border" %}
{% assign border_groups = "sides, width, radius" | split: ", " %}
{% for border_group in border_groups %}
<h3>{{ border_group | capitalize}}</h3>
{% assign utils = border_utils | where: "border_group", border_group %}
<table class="table token-table-borders">
  <thead>
    <tr class="table-head-row">
      <th>Class Name</th>
      <th>HTML</th>
      <th>Example</th>
    </tr>
  </thead>
  {% for util in utils %}
  <tr class="table-row">
    <td class="util-class-cell">{% highlight html %}{{ util.title }}{% endhighlight %}</td>
    <td class="token-value-cell">{% highlight html %}{{ util | remove: '<p>' | remove: '</p>' }}{% endhighlight %}</td>
    <td class="element-sample-cell">{{ util }}</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}