/**
 * @title Link
 * @category elements
 * @element_type link
 * @status draft
 * @value s-link
 * @description Styles for a link that is embedded in the default paragraph text.
 *
 * @example
 * <a class="s-link">contact our team</a>
 */
.s-link {
  cursor: pointer;
  color: var(--s-color-cyan-700);
  text-decoration: underline;
}
