/**
 * @title Primary Inverse Button
 * @status draft
 * @value s-button-primary-inverse
 * @description Our primary call-to-action button, with inverse colors. These are usually used for buttons that lead user to more info.
 *
 * @example
 * <button class="s-button s-button-primary-inverse">Primary Inverse</button>
 **/
.s-button-primary-inverse {
  // once we can import other classes, remove

  //until then - 
  padding: 1.125rem 2.5rem 0.75rem 2.5rem;
  font-size: .875rem;
  font-family: "Helvetica Neue Bold";
  display: inline-block;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: .5px;
  border: none;
  border-radius: 36px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  
  // - 

  color: var(--s-color-cyan-400);
  background-color: var(--s-color-cyan-700);
}
