/**
 * @title Secondary Button
 * @category elements
 * @status draft
* @value s-button-secondary
 * @description Our secondary call-to-action button for specific actions - apply, register for Try Coding, subscribe to newsletter, etc.
 *
 * @example
 * <button class="s-button s-button-secondary">Secondary Button</button>
 */
 
.s-button-secondary {
  color: var(--s-color-gray-700);
  background-color: var(--s-color-gray-100);
  border: 2px solid var(--s-color-gray-700);
}
