<header class="header-container">
  <section class="logo-title-wrapper">
    <img class="logo" src="{{site.assets_url}}/turing-school-mark-256.png" alt="Turing School logo"/>
    <h1 class="title">Savile Design System</h1>
  </section>
  <section class="search-wrapper">
    <input placeholder="Search the Savile docs" type="text" aria-label="Input search criteria" />
    <button aria-label="Search">
      <img class="search-icon" src="{{site.assets_url}}/icons/search.png" alt="" />
    </button>
  </section>
</header>