<table class="table utils-table {{ include.table_class }}">
  <thead>
    <tr class="table-head-row">
      <th>Class Name</th>
      <th>HTML</th>
      <th>Example</th>
    </tr>
  </thead>
  {% for util in include.utils %}
  <tr class="table-row">
    <td class="util-class-cell">
      <code>.{{ util.title }}</code>
    </td>
    <td class="util-value-cell">
      {% highlight html %}{{ util | replace_first: '<p><', '<' | replace_first: '></p>', '>' }}{% endhighlight %}
    </td>
    <td class="util-example-cell">
      <div class="example-container">
        {{ util | remove: '<p>' | remove: '</p>' }}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
