$sides: border, border-top, border-right, border-bottom, border-left;

@each $side in $sides {
  /**
  * @title s-#{$side}
  * @category tokens
  * @token_type border
  * @border_group sides
  *
  * @example
  * <span class="s-#{$side}"></span>
  */
  .s-#{$side} {
    #{$side}: var(--s-space-2) solid var(--s-color-cyan-500);
  }
}

$widths:
  "0" "0",
  "1" "2",
  "2" "4",
  "3" "8",
  "4" "12";

@each $width, $value in $widths {
  /**
  * @title s-border-width-#{$width}
  * @category tokens
  * @token_type border
  * @border_group width
  *
  * @example
  * <span class="s-border s-border-width-#{$width}"></span>
  */
  .s-border-width-#{$width} {
    border-width: var(--s-space-#{$value});
  }
}


$radii:
  "0" "var(--s-space-0)",
  "1" "var(--s-space-4)",
  "2" "var(--s-space-16)",
  "circle" "50%",
  "pill" "50rem";

@each $radius, $value in $radii {
  /**
  * @title s-border-radius-#{$radius}
  * @category tokens
  * @token_type border
  * @border_group radius
  *
  * @example
  * <span class="s-border-radius-#{$radius}"></span>
  */
  .s-border-radius-#{$radius} {
    border-radius: #{$value};
  }
}
