// Helvetica_Neue_LT_Std-W25_Ultra_Light
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

// Helvetica_Neue_LT_Std-W25_Ultra_Light_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W25_Ultra_Light_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
}

// Helvetica_Neue_LT_Std-W35_Thin
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

// Helvetica_Neue_LT_Std-W35_Thin_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W35_Thin_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

// Helvetica_Neue_LT_Std-W45_Light
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

// Helvetica_Neue_LT_Std-W45_Light_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W45_Light_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

// Helvetica_Neue_LT_Std-W55_Normal
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

// Helvetica_Neue_LT_Std-W55_Normal_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W55_Normal_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}

// Helvetica_Neue_LT_Std-W65_Medium
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

// Helvetica_Neue_LT_Std-W65_Medium_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W65_Medium_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

// Helvetica_Neue_LT_Std-W75_Bold
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Helvetica_Neue_LT_Std-W75_Bold_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W75_Bold_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

// Helvetica_Neue_LT_Std-W85_Heavy
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

// Helvetica_Neue_LT_Std-W85_Heavy_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W85_Heavy_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}

// Helvetica_Neue_LT_Std-W95_Black
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

// Helvetica_Neue_LT_Std-W95_Black_Italic
@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black_Italic.woff2') format('woff2'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black_Italic.woff') format('woff'),
    url('https://assets.turing.edu/fonts/Helvetica_Neue_LT_Std-W95_Black_Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
}

