:root {
  --s-font-weight-heavy: 900;
  --s-font-weight-bold: 700;
  --s-font-weight-normal: 400;
  --s-font-weight-light: 300;
  --s-font-weight-ultra-light: 200;

  /**
   * @title --s-font-family-default
   * @value Helvetica Neue
   * Default Font Family
   */
  --s-font-family-default: "Helvetica Neue", Helvetica, sans-serif;

  /**
   * @title --s-font-family-alternate
   * @value Roboto Slab
   * Alternate Font Family
   */
  --s-font-family-alternate: "Roboto Slab", sans-serif;

  /**
   * @title --s-font-family-mono
   * @value Roboto Mono
   * Monospace Font Family
   */
  --s-font-family-mono: "Roboto Mono", monospace;
}

/* NOTE: we use the literal font-weight values in all @font-face declarations b/c using var() breaks the dynamic font loading */

@import "font_helvetica_neue.scss";

@font-face {
  font-family: "Roboto Slab";
  src: url("/assets/fonts/RobotoSlab-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/assets/fonts/RobotoSlab-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Normal.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Medium.ttf");
  font-style: normal;
  font-weight: 700;
}
