$font-weights: (
  "ultra-light": 200,
  "light": 300,
  "normal": 400,
  "bold": 700,
  "heavy": 900
);

$font-sizes: (
  "xxs": 0.625rem,
  "xs": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.5rem,
  "xl": 2rem,
  "xxl": 3rem,
);

:root {
  @each $name, $size in $font-sizes {
    /**
     * @title --s-font-size-#{$name}
     * @category tokens
     * @token_type font-size
     * @value #{$size}
     * @description
     *   #{$name} Font size
     */
    --s-font-size-#{$name}: #{$size};
  }

  @each $name, $weight in $font-weights {
    /**
     * @title --s-font-weight-#{$name}
     * @category tokens
     * @token_type font-weight
     * @value #{$weight}
     * @description
     *   #{$name} Font weight
     */
    --s-font-weight-#{$name}: #{$weight};
  }

  /**
   * @title --s-font-family-default
   * @category tokens
   * @token_type font-family
   * @value Helvetica Neue
   * Default Font Family
   */
  --s-font-family-default: "Helvetica Neue", Helvetica, sans-serif;

  /**
   * @title --s-font-family-alternate
   * @category tokens
   * @token_type font-family
   * @value Roboto Slab
   * Alternate Font Family
   */
  --s-font-family-alternate: "Roboto Slab", sans-serif;

  /**
   * @title --s-font-family-mono
   * @category tokens
   * @token_type font-family
   * @value Roboto Mono
   * Monospace Font Family
   */
  --s-font-family-mono: "Roboto Mono", monospace;
}

/* NOTE: we use the literal font-weight values in all @font-face declarations b/c using var() breaks the dynamic font loading */

@import "font_helvetica_neue.scss";

@font-face {
  font-family: "Roboto Slab";
  src: url("/assets/fonts/RobotoSlab-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/assets/fonts/RobotoSlab-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Normal.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Medium.ttf");
  font-style: normal;
  font-weight: 700;
}
