:root {
  /**
   * @title --s-shadow-s
   * @category tokens
   * @token_type shadows
   * @value 0 1px 3px hsla(0, 0%, 0.2)
   * @description description
   */
  --s-shadow-s: 0 1px 3px hsla(0, 0%, 0.2);
  /**
   * @title --s-shadow-m
   * @category tokens
   * @token_type shadows
   * @value 0 4px 6px hsla(0, 0%, 0.2)
   * @description description
   */
  --s-shadow-m: 0 4px 6px hsla(0, 0%, 0.2);
  /**
   * @title --s-shadow-l
   * @category tokens
   * @token_type shadows
   * @value 0 15px 35px hsla(0, 0%, 0.2)
   * @description description
   */
  --s-shadow-l: 0 15px 35px hsla(0, 0%, 0.2);
}
