:root {
  /**
   * @title --s-shadow-sm
   * @category tokens
   * @token_type shadows
   * @value 0 1px 3px var(--s-color-gray-600)
   */
  --s-shadow-sm: 0 1px 3px var(--s-color-gray-600);
  /**
   * @title --s-shadow-md
   * @category tokens
   * @token_type shadows
   * @value 0 4px 6px var(--s-color-gray-600)
   */
  --s-shadow-md: 0 4px 6px var(--s-color-gray-600);
  /**
   * @title --s-shadow-lg
   * @category tokens
   * @token_type shadows
   * @value 0 15px 35px var(--s-color-gray-600)
   */
  --s-shadow-lg: 0 15px 35px var(--s-color-gray-600);
}
