:root {
  /**
   * @title --s-space-0
   * @category tokens
   * @value 0rem
   * @description description
   */
  --s-space-0: 0rem;
  /**
   * @title --s-space-2
   * @category tokens
   * @value 0.125rem
   * @description description
   */
  --s-space-2: 0.125rem;
  /**
   * @title --s-space-4
   * @category tokens
   * @value 0.25rem
   * @description description
   */
  --s-space-4: 0.25rem;
  /**
   * @title --s-space-8
   * @category tokens
   * @value 0.5rem
   * @description description
   */
  --s-space-8: 0.5rem;
  /**
   * @title --s-space-12
   * @category tokens
   * @value 0.75rem
   * @description description
   */
  --s-space-12: 0.75rem;
  /**
   * @title --s-space-16
   * @category tokens
   * @value 1rem
   * @description description
   */
  --s-space-16: 1rem;
  /**
   * @title --s-space-20
   * @category tokens
   * @value 1.25rem
   * @description description
   */
  --s-space-20: 1.25rem;
  /**
   * @title --s-space-24
   * @category tokens
   * @value 1.5rem
   * @description description
   */
  --s-space-24: 1.5rem;
  /**
   * @title --s-space-28
   * @category tokens
   * @value 1.75rem
   * @description description
   */
  --s-space-28: 1.75rem;
  /**
   * @title --s-space-32
   * @category tokens
   * @value 2rem
   * @description description
   */
  --s-space-32: 2rem;
  /**
   * @title --s-space-40
   * @category tokens
   * @value 2.5rem
   * @description description
   */
  --s-space-40: 2.5rem;
  /**
   * @title --s-space-48
   * @category tokens
   * @value 3rem
   * @description description
   */
  --s-space-48: 3rem;
  /**
   * @title --s-space-56
   * @category tokens
   * @value 3.5rem
   * @description description
   */
  --s-space-56: 3.5rem;
  /**
   * @title --s-space-64
   * @category tokens
   * @value 4rem
   * @description description
   */
  --s-space-64: 4rem;
}
