:root {
  /**
   * @title --s-border-radius-0
   * @value 0rem
   * @description reset
   */
  --s-border-radius-0: 0rem;
  /**
   * @title --s-border-radius-2
   * @value 0.125rem
   * @description for cards
   */
  --s-border-radius-2: 0.125rem;
  /**
   * @title --s-border-radius-4
   * @value 0.25rem
   * @description ''
   */
  --s-border-radius-4: 0.25rem;
  /**
   * @title --s-border-radius-16
   * @value 1rem
   * @description for buttons
   */
  --s-border-radius-16: 1rem;
  /**
   * @title --s-border-radius-circle
   * @value 50%
   * @description round
   */
  --s-border-radius-circle: 50%;
  /**
   * @title --s-border-width-0
   * @value none
   * @description description
   */
  --s-border-width-0: none;
  /**
   * @title --s-border-width-1
   * @value 0.0625rem
   * @description description
   */
  --s-border-width-1: 0.0625rem;
  /**
   * @title --s-border-width-2
   * @value 0.125rem
   * @description description
   */
  --s-border-width-2: 0.125rem;
  /**
   * @title --s-border-width-4
   * @value 0.25rem
   * @description description
   */
  --s-border-width-4: 0.25rem;
  /**
   * @title --s-border-width-8
   * @value 0.5rem
   * @description description
   */
  --s-border-width-8: 0.5rem;
}
