:root {
  /**
   * @title Primary
   * @value #5f5f5f
   */
  --color-primary: #5F5F5F;
  /**
   * @title Primary Light
   * @value #C0C0C0
   */
  --color-primary-light: #C0C0C0;
  /**
   * @title Primary Dark
   * @value #2b2b2b
   */
  --color-primary-dark: #2b2b2b;
  /**
   * @title Secondary
   * @value #036575
   */
  --color-secondary: #036575;
  /**
   * @title Secondary Fade
   * @value #0492a5
   */
  --color-secondary-fade: #0492a5;
  /**
   * @title Secondary Light
   * @value #05c2d1
   */
  --color-secondary-light: #05c2d1;
  /**
   * @title Secondary Highlight
   * @value #12f1fc
  */
  --color-secondary-highlight :#12f1fc;
  /**
   * @title White
   * @value #ffffff
   */
  --color-white: #ffffff;
  /**
   * @title Backend Red
   * @value #ef3852
   */
  --color-backend: #ef3852;
  /**
   * @title Frontend Orange
   * @value #f9ae06
   */
  --color-frontend: #f9ae06;
}
