:root {
  /*
   * @title --s-color-cyan-400
   * @value #12f1fc
   * @description description
   */
  --s-color-cyan-400: #12f1fc;
  /*
   * @title --s-color-cyan-500
   * @value #05c2d1
   * @description description
   */
  --s-color-cyan-500: #05c2d1;
  /*
   * @title --s-color-cyan-600
   * @value #0492a5
   * @description description
   */
  --s-color-cyan-600: #0492a5;
  /*
   * @title --s-color-cyan-700
   * @value #036575
   * @description description
   */
  --s-color-cyan-700: #036575;
  /*
   * @title --s-color-yellow-500
   * @value #f9ae06
   * @description description
   */
  --s-color-yellow-500: #f9ae06;
  /*
   * @title --s-color-yellow-600
   * @value #e0990a
   * @description description
   */
  --s-color-yellow-600: #e0990a;
  /*
   * @title --s-color-yellow-700
   * @value #c67b02
   * @description description
   */
  --s-color-yellow-700: #c67b02;
  /*
   * @title --s-color-red-500
   * @value #ef3852
   * @description description
   */
  --s-color-red-500: #ef3852;
  /*
   * @title --s-color-red-600
   * @value #cc193b
   * @description description
   */
  --s-color-red-600: #cc193b;
  /*
   * @title --s-color-red-700
   * @value #9b0428
   * @description description
   */
  --s-color-red-700: #9b0428;
  /*
   * @title --s-color-white
   * @value #ffffff
   * @description description
   */
  --s-color-white: #ffffff;
  /*
   * @title --s-color-gray-100
   * @value #f8f8f8
   * @description description
   */
  --s-color-gray-100: #f8f8f8;
  /*
   * @title --s-color-gray-200
   * @value #eeeff0
   * @description description
   */
  --s-color-gray-200: #eeeff0;
  /*
   * @title --s-color-gray-300
   * @value #e0e1e2
   * @description description
   */
  --s-color-gray-300: #e0e1e2;
  /*
   * @title --s-color-gray-400
   * @value #bcbec0
   * @description description
   */
  --s-color-gray-400: #bcbec0;
  /*
   * @title --s-color-gray-500
   * @value #939598
   * @description description
   */
  --s-color-gray-500: #939598;
  /*
   * @title --s-color-gray-600
   * @value #6d6e71
   * @description description
   */
  --s-color-gray-600: #6d6e71;
  /*
   * @title --s-color-gray-700
   * @value #4d4d4f
   * @description description
   */
  --s-color-gray-700: #4d4d4f;
  /*
   * @title --s-color-gray-800
   * @value #2b2b2b
   * @description description
   */
  --s-color-gray-800: #2b2b2b;
  /*
   * @title --s-color-black
   * @value #000000
   * @description description
   */
  --s-color-black: #000000;
}
