$space-types:
  "p" "padding",
  "m" "margin";

$widths:
  "0" "0",
  "1" "4",
  "2" "8",
  "3" "16",
  "4" "24",
  "5" "40";

$sides:
  "t" "top",
  "r" "right",
  "b" "bottom",
  "l" "left";

$dimensions: "x", "y";

@mixin docstring($class, $prop) {
  /**
   * @title #{$class}
   * @category utils
   * @util_type #{$prop}
   *
   * @example
   * <div class="#{$class}">
   *   <code>#{$class}</code>
   * </div>
   */
}

@each $spacing-class, $spacing-prop in $space-types {
  @each $width, $space in $widths {
    $class-name: "s-#{$spacing-class}-#{$width}";
    @include docstring($class-name, $spacing-prop);
    .#{$class-name} {
      #{$spacing-prop}: var(--s-space-#{$space}) !important;
    }

    $dim-x-class-name: "s-#{$spacing-class}x-#{$width}";
    @include docstring($dim-x-class-name, $spacing-prop);
    .#{$dim-x-class-name} {
      #{$spacing-prop}-left: var(--s-space-#{$space}) !important;
      #{$spacing-prop}-right: var(--s-space-#{$space}) !important;
    }

    $dim-y-class-name: "s-#{$spacing-class}y-#{$width}";
    @include docstring($dim-y-class-name, $spacing-prop);
    .#{$dim-y-class-name} {
      #{$spacing-prop}-top: var(--s-space-#{$space}) !important;
      #{$spacing-prop}-bottom: var(--s-space-#{$space}) !important;
    }

    @each $side-class, $side-prop in $sides {
      $side-class-name: "s-#{$spacing-class}#{$side-class}-#{$width}";
      @include docstring($side-class-name, $spacing-prop);

      .#{$side-class-name} {
        #{$spacing-prop}-#{$side-prop}: var(--s-space-#{$space}) !important;
      }
    }
  }
}

