<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'main.css' | relative_url }}">
  </head>
  <body>
    <nav class="nav nav-primary">
      <ul>
        <li><a href='colors'>Colors</a></li>
        <li><a href='typography'>Typography</a></li>
        <li><a href='elements'>Elements</a></li>
        <li><a href='components'>Components</a></li>
      </ul>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
  </body>
</html>
