<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- changed paths below bc I'm deploying differently from real Savile -->
    <link rel="stylesheet" href="{{site.url}}/css/main.css">
    <link rel="stylesheet" href="{{site.url}}/css/doc_site_styling.css">
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      {% include nav.html %}
      <div class="main">
        <h2 class="s-h1">{{ page.title }}</h2>
        <section class="main-content-container">
          {{ content }}
        </section>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
