/**
 * @title Primary Navigation Bar
 * @category components
 * @component_type nav
 * @description This navigation component can be used with or without the menu.
 * @example
 * <nav class="s-nav">
 *   <a class="s-nav-icon" href="/">
 *     <img src="https://assets.turing.edu/turing-school-mark-gray.png" alt="Home" />
 *   </a>
 *   <ul class="s-nav-menu">
 *     <li><a href="#">Link One</a></li>
 *     <li><a href="#">Link Two</a></li>
 *     <li><a href="#">Link Three</a></li>
 *   </ul>
 * </nav>
 */

.s-nav {
  @extend .s-shadow-sm;
  @extend .s-py-2;
  @extend .s-px-4;
  letter-spacing: 0.75px;
  // position: sticky;
  z-index: 99;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;

  .s-nav-icon {
    display: block;
    
    img {
      height: 50px;
      width: 50px;
    }
  }

  ul.s-nav-menu {
    list-style: none;
    display: flex;
    @extend .s-mb-1;

    li a {
      @extend .s-text-uppercase;
      @extend .s-ml-3;
      @extend .s-border-bottom;
      @extend .s-font-bold;
      @extend .s-text-gray-700;
      @extend .s-text-decor-none;
      border-color: transparent;

      &:hover, &:active {
        @extend .s-border-cyan-400;
        cursor: pointer;
      }
    }
  }
}