/**
 * @title: Button
 * 
 * @description: Example:
 * <button class="button">Click me</button>

 write into script to break apart each @ piece to convert those pieces into 
 */
.button {
  border: none;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 18px 40px 12px;
  display: inline-block;
}
